@charset "UTF-8";

#header{
/* 	background-color:#b7472a; */
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#b8c4cb), to(#f1f6f9));/*谷歌*/ 
	height:150px;
	width:100%;
}

#title{
	margin-left:5%;
	margin-top:10px;
	position:absolute;
	height:20%;
}

#titleBt{
	margin-left:50%;
	margin-top:65px;
	float:left;
	background-color:#ffffff;
	position:relative;
}

#loginLogo{
	height:60px;
	width:60px;
	float:right;
	position:relative;
	margin-right:4%;
	margin-top:45px;
}
#loginLogo2{
/* 	background-color:#ffffff; */
	height:70px;
	width:200px;
	float:right;
	position:relative;
	margin-right:4%;
	margin-top:40px;
	text-align: center;
	border-radius: 10px;
/* 	background-color:#ffffff; */
}


#body{
	background-color:#ffffff;
}